@import './as-utils';

:root {
	--background: #eceff1;
	--surface: white;
	--foreground: #37474f;
	--on-surface: #263238;
	--as-notification-info-color: var(--on-surface);
	--as-dialog-background: var(--background);
	--as-dialog--close-btn-color: var(--foreground);
	--as-dialog--close-btn-border: 1px solid var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: black;
		--surface: #263238;
		--foreground: #cfd8dc;
		--on-surface: #eceff1;
	}
}

h1,
h2 {
	margin: 0;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.25em;
}

html {
	font-family: system-ui, sans-serif;
	background: var(--background);
	color: var(--foreground);
	height: 100%;
}

body {
	margin: 0.5rem;
	height: calc(100% - 1rem);
}

button,
input,
textarea,
label,
a {
	font: inherit;
	font-weight: 500;
}

button,
input,
textarea,
select,
a {
	border-radius: 0.5em;
	border: none;
	padding: 0.45em;
	display: flex;
	align-items: center;
	gap: 0.5em;
}

button,
a {
	background-color: var(--surface);
	color: var(--on-surface);
}

input,
textarea,
select {
	border: 1px solid var(--foreground);
	background-color: var(--surface);
	color: var(--on-surface);
	padding-inline: 0.5em;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

label {
	display: flex;
	flex-direction: column;
}

button {
	cursor: pointer;
}

button:disabled {
	opacity: 0.6;
	cursor: default;
}

// DOTOGETHER
main {
	max-width: 70ch;
	margin: auto;
}

.loading {
	text-align: center;
}

ol {
	display: flex;
	flex-direction: column;
	gap: 1.25em;
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

p {
	display: flex;
	gap: 0.25em;
}

.desc {
	white-space: pre-line;
}

.item {
	display: flex;
	gap: 1em;
	align-items: center;
}

.item-label {
	font-size: 1.2em;
	font-weight: 500;
}

.done {
	opacity: 0.8;
}
